@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@400;700&display=swap");

body {
  box-sizing: border-box;
  font-family: "Saira Semi Condensed", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #121212;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  color: #121212;
  font-size: 1.5rem;
}

.loader {
  color: #ffffff;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .marker_b {
    display: inline-block;
    color: #ec994b;
    animation: rotate 4.5s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.top,
.right,
.bottom,
.left {
  position: fixed;
  background: #ffffff;
  padding: 2.5px;
}
.top {
  width: 100%;
}
.right {
  right: 0;
  height: 100%;
}
.bottom {
  bottom: 0;
  width: 100%;
}
.left {
  left: 0;
  height: 100%;
}

.container {
  position: fixed;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/ecailles.png");
  height: 100%;
  width: 100vw;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25rem;
    .marker_a {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #34b3f1;
    }
    h1 {
      font-size: 3.25em;
    }
    a {
      text-decoration: none;
    }
    img {
      height: 100vh;
      width: 500px;
      object-fit: cover;
    }
  }
  @media (max-width: 844px) {
    .content {
      margin: 0 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2.5rem;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
