@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500adisplay=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #191919;
  font-size: 20px;
  text-align: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='3000' height='2000' preserveAspectRatio='none' viewBox='0 0 3000 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask27852%26quot%3b)' fill='none'%3e%3crect width='3000' height='2000' x='0' y='0' fill='rgba(253%2c 253%2c 253%2c 1)'%3e%3c/rect%3e%3crect width='241.44' height='241.44' clip-path='url(%26quot%3b%23SvgjsClipPath27853%26quot%3b)' x='320.32' y='388.37' fill='url(%23SvgjsPattern27854)' transform='rotate(13.36%2c 441.04%2c 509.09)'%3e%3c/rect%3e%3crect width='542.08' height='542.08' clip-path='url(%26quot%3b%23SvgjsClipPath27855%26quot%3b)' x='511.76' y='1132.11' fill='url(%23SvgjsPattern27856)' transform='rotate(125.25%2c 782.8%2c 1403.15)'%3e%3c/rect%3e%3crect width='1152' height='1152' clip-path='url(%26quot%3b%23SvgjsClipPath27857%26quot%3b)' x='1918.55' y='345.34' fill='url(%23SvgjsPattern27858)' transform='rotate(152.48%2c 2494.55%2c 921.34)'%3e%3c/rect%3e%3crect width='1140' height='1140' clip-path='url(%26quot%3b%23SvgjsClipPath27859%26quot%3b)' x='-72.01' y='1117.78' fill='url(%23SvgjsPattern27860)' transform='rotate(50.39%2c 497.99%2c 1687.78)'%3e%3c/rect%3e%3cpath d='M1011.68 1018.58a5.6 5.6 0 1 0 3.82-10.53 5.6 5.6 0 1 0-3.82 10.53zM1017.14 1003.54a5.6 5.6 0 1 0 3.83-10.53 5.6 5.6 0 1 0-3.83 10.53zM1022.61 988.5a5.6 5.6 0 1 0 3.82-10.52 5.6 5.6 0 1 0-3.82 10.52zM1028.07 973.47a5.6 5.6 0 1 0 3.83-10.53 5.6 5.6 0 1 0-3.83 10.53zM1015.79 1054.12a5.6 5.6 0 1 0 3.82-10.53 5.6 5.6 0 1 0-3.82 10.53zM1021.25 1039.08a5.6 5.6 0 1 0 3.83-10.53 5.6 5.6 0 1 0-3.83 10.53zM1026.72 1024.04a5.6 5.6 0 1 0 3.82-10.52 5.6 5.6 0 1 0-3.82 10.52zM1032.18 1009.01a5.6 5.6 0 1 0 3.82-10.53 5.6 5.6 0 1 0-3.82 10.53z' fill='rgba(251%2c 231%2c 228%2c 1)'%3e%3c/path%3e%3crect width='1156.68' height='1156.68' clip-path='url(%26quot%3b%23SvgjsClipPath27861%26quot%3b)' x='867.46' y='148.13' fill='url(%23SvgjsPattern27862)' transform='rotate(160.24%2c 1445.8%2c 726.47)'%3e%3c/rect%3e%3ccircle r='299.0662219797502' cx='2708.5' cy='1914.47' fill='rgba(228%2c 251%2c 231%2c 1)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask27852'%3e%3crect width='3000' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='241.44' height='10.06' patternUnits='userSpaceOnUse' id='SvgjsPattern27854'%3e%3crect width='241.44' height='5.03' x='0' y='0' fill='rgba(228%2c 251%2c 231%2c 1)'%3e%3c/rect%3e%3crect width='241.44' height='5.03' x='0' y='5.03' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath27853'%3e%3ccircle r='60.36' cx='441.04' cy='509.09'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='12.32' height='12.32' patternUnits='userSpaceOnUse' id='SvgjsPattern27856'%3e%3cpath d='M0 12.32L6.16 0L12.32 12.32' stroke='rgba(251%2c 242%2c 228%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath27855'%3e%3ccircle r='135.52' cx='782.8' cy='1403.15'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='1152' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern27858'%3e%3crect width='1152' height='3' x='0' y='0' fill='rgba(251%2c 242%2c 228%2c 1)'%3e%3c/rect%3e%3crect width='1152' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath27857'%3e%3ccircle r='288' cx='2494.55' cy='921.34'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern27860'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(251%2c 231%2c 228%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath27859'%3e%3ccircle r='285' cx='497.99' cy='1687.78'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='1156.68' height='11.34' patternUnits='userSpaceOnUse' id='SvgjsPattern27862'%3e%3crect width='1156.68' height='5.67' x='0' y='0' fill='rgba(228%2c 251%2c 231%2c 1)'%3e%3c/rect%3e%3crect width='1156.68' height='5.67' x='0' y='5.67' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath27861'%3e%3ccircle r='289.17' cx='1445.8' cy='726.47'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
@media (max-width: 844px) {
  body {
    font-size: 14px;
  }
}

.animation {
  width: 100%;
  background-color: #191919;
  color: #e0e0e0;
  font-size: 3em;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.animate {
  color: #e0e0e0;
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.animate span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #79a6ee;
  margin: 0 10px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.container h1 {
  font-size: 5em;
  margin: -10px 0 75px 0;
}
.container .hello {
  margin: 45px 0;
}
.container span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #191919;
}
.container div a {
  margin: 0 5px;
  padding: 5px 0;
  font-size: 1.2em;
  color: #191919;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}
.container div a:focus:after,
.container div a:hover:after {
  width: 100%;
  left: 0%;
}
.container div a:after {
  content: "";
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background: #79a6ee;
  transition-duration: 0.5s;
}/*# sourceMappingURL=style.css.map */