@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background: #191919;
  color: #e0e0e0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow: hidden;

  @media (max-width: 844px) {
    font-size: 14px;
    text-align: center;
  }
}

.cover {
  color: #191919;
  background: #e0e0e0;
  position: absolute;
  width: 100%;
  height: 100vh;

  .cover-heading {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    h1,
    span {
      font-weight: 800;
      font-size: 3.5em;
      display: inline-block;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  .title {
    font-size: 5em;
    margin: -10px 0 25px 0;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #e0e0e0;
  }

  .bio {
    margin: 0 0 50px 0;
  }

  .char {
    display: inline-block;
  }
  
  div {
    a {
      font-size: 1.5rem;
      margin: 0 10px;
      padding: 15px 0;
      color: #e0e0e0;
      text-decoration: none;
      position: relative;
    }

    a:hover {
      opacity: .8;
      transition: all .5s ease;
    }
  }
}